.pg-viewer-wrapper {
    overflow-y: unset !important;
}

.photo-viewer-container {
    width: 90% !important;
    height: 90% !important;
}

.photo-viewer-container>img {
    width: 90% !important;
    height: 90% !important;
}