.up--main-bg-container {
    background-color: #e9ecef;
}

.up-main-container {
    min-width: 100%;
    display: block;
    min-height: 100vh;
}

.upf-container {
    padding-top: 2vh;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upf-container .upf-card {
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    padding: 16px;
    border: 3px solid #2581E6;
    min-width: 700px !important;
    min-height: 300px !important;
    background-color: #fff;
}

.upf-container .upf-card .upf-form {
    width: 100%;
    height: 100%;
    display: flex
}

.upf-container .upf-card .upf-left-side {
    width: 35%;
    display: flex;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.upf-left-side img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover
}

.upf-container .upf-card .upf-right-side {
    width: 65%;
    /* background-color: #efecf2; */
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.udcontainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.udgridcard {
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    border: 3px solid #2581E6;
}

.up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.up-hello {
    text-align: center;
    color: #2a2739;
}

.up-inner {
    width: 100%;
    margin: auto;
    /* background-color: #efecf2; */
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    transition: all .3s;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.up-container .up-inner .up-form {
    width: 100%;
    height: 100%;
}

.up-danger {
    display: none
}

.up-input_text {
    position: relative;
    margin-top: 20px
}


.up-warning {
    border: 1px solid red !important
}

.up-btn {
    margin-top: 15px
}

.up-btn button {
    height: 45px;
    width: 100%;
    border: none;
    outline: 0;
    background-color: #2581E6;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 13px;
    color: #fff
}

.up-btn button:hover {
    background-color: #1565c0;
}